@model List<Media>
@{
    ViewBag.Title = "View Pictures";
}
<center>
    <h2>Pictures</h2><br />Click an Image to View Full Size
    <p>
        @foreach (Media m in Model)
        {
            <a href="@m.resourceLink" target="_blank"><img src="@m.resourceLink" width="auto" height="40px" /></a>

        }
    </p>
</center>
