@model List<Media>
@{
    ViewBag.Title = "Music Videos";
}

    <h2>Videos</h2><br />Click a Title to Watch
    <p>
        @foreach(Media m in Model) { 
        <a asp-action="Item" asp-route-for="@m.ID">@m.name</a>
                    @m.description
        <hr />
        }
