@model List<Message>;
@{
    ViewData["Title"] = "View Contacts";
}

<h2>View Contacts</h2>
 @{
     foreach(Message m in Model)
     {
<p>
    <strong>Name:</strong> @m.ContactUser.Name<br />
    <strong>Email Address:</strong>@m.ContactUser.Name<br />
    <strong>Message:</strong> @m.ContactMessage<br />
</p>


     }
 }
