
@{
    ViewData["Title"] = "SignificantPeople";
}

<h2>Significant People</h2>
<p>
    Significant People
</p>
<p>
    <span class="badge badge-light"><a href="/Info/ImportantLocations">Important Locations</a></span>
    <br />
    <span class="badge badge-light"><a href="/Info/Index">Information</a></span>
</p>
