@model Media
@{
    ViewBag.Title = "Add Media";
}

<h2>Add Media</h2>

<span style="color:red">@ViewData["Message"]</span>

<div asp-validation-summary=" All"></div>

<form asp-action="MediaCreate" method="post">
    <p>
        <label asp-for="name">Name</label>
        <input asp-for="name" />
    </p>
    <p>
        <label asp-for="description">Description</label>
        <input asp-for="description" />
    </p>
    <p>
        <label asp-for="CollectionName">Collection</label>
        <input asp-for="CollectionName" />
    </p>
    <p>
        <label asp-for="mediaType">Type</label>

        <select asp-for="mediaType" class="form-control" asp-items="@(new SelectList(@ViewBag.ListOfTypes))"></select>
    </p>

    <p>
        <label asp-for="resourceLink">URL</label>
        <input asp-for="resourceLink" />
    </p>




    <p>
        <button type="submit">Create</button>
    </p>

    <button asp-controlle="Band" asp-action="ShowMedia">Cancel</button><br />
</form>