@model Account
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="text-danger" asp-validation-summary="All"></div>
<form asp-action="Login" method="post">
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />


    <label asp-for="Email"></label><br />
    <input asp-for="Email" />
    <br /> &nbsp;<br />
    <label asp-for="Password"></label><br />
    <input asp-for="Password" type="password" />

    <button type="submit">Log In</button>
</form>