
@{
    ViewData["Title"] = "History";
}

<h2>History</h2>
<p>

    On May 20, 2015, both Gaijin Entertainment and Targem Games announced the development of a new free-to-play mmo set in a post-apocalyptic future. The first alpha tests of the game, called 'Battle Test', were launched in summer 2015. and in the same year, the game made its debut on the E3 2015. Later in the same year, the game was playable in a closed area at Gaijin Entertainment's booth at Gamescom 2015, where players got a promo code to participate in further testing. On April 5, 2016, Crossout went into closed beta and was launched into open beta on May 30, 2017, on PC, PlayStation 4 and Xbox One.



</p>
<p>
    <a href="/home">Home</a>
    <br />
    <a href="/home/Contact">Contact</a>
</p>