@{
    ViewData["Title"] = "Crossout Community";
}
<h1>Welcome to the Crossout Community!</h1>
<p>
    Crossout is a post-apocalyptic mmo-action game for PC and consoles. Described as a crafting and combat MMO, the game allows players to construct their own post-apocalyptic vehicles to be used in PvP engagements with real players and PvE missions involving AI-participants.
    <br />&nbsp;<br />
    The game is developed by Targem Games and is published by Gaijin Entertainment.
</p>
<p>
    <a href="/home/History">History</a>
    <br />
    <a href="/home/Contact">Contact</a>
</p>