
@{
    ViewData["Title"] = "ImportantLocations";
}

<h2>Important Locations</h2>
<p>Important locations go here</p>
<p>
    <a href="/Info/Index">Information</a>
    <br />
    <a href="/Info/SignificantPeople">Significant People</a>
</p>

