
@{
    ViewData["Title"] = "SignificantPeople";
}

<h2>Significant People</h2>
<p>
    Significant People
</p>
<p>
    <a href="/Info/ImportantLocations">Important Locations</a>
    <br />
    <a href="/Info/Index">Information</a>
</p>
