
@{
    ViewData["Title"] = "ImportantLocations";
}

<h2>Important Locations</h2>
<p>Important locations go here</p>
<p>
    <span class="badge badge-light"><a href="/Info/Index">Information</a></span>
    <br />
    <span class="badge badge-light"><a href="/Info/SignificantPeople">Significant People</a></span>
</p>

