
@{
    ViewData["Title"] = "Access Denied";
}

<h2>Access Denied</h2>
<p>Oops! Your Account Type Does Not Have Access To This Page.</p>
<p>
    <button class="btn btn-danger" onclick="window.history.go(-1); return false;">Back</button>
</p>
