
@{
    ViewData["Title"] = "Information";
}

<h2>Information</h2>

<p>
    Events of Crossout take place in the same universe as Ex Machina’s (aka Hard Truck: Apocalypse in the North American market), which is also a Targem-created game published by Buka in 2005. Crossout aims to depict life on Earth 20 years after the disaster, and 200 years before Ex Machina.
</p><p>
    In the year 2021 the planet was swept over with a mysterious pandemic disease, that started to spread simultaneously all over the planet. Those few who survived the first days were then haunted by hallucinations, headaches and nightmares, most chose to end their lives. Neither the source of the disease, called “Crossout” by the media, nor the nature of the pathogen were identified. The planet was overthrown with chaos as the population fled the larger cities, leaving them as graveyards. In just a few dreadful months, civilization was no more.
</p><p>
    The reason behind this was the disruption of an extraterrestrial, multi-millennia eugenic experiment aimed at developing a new sentient race on Earth. Due to a mishap with the control systems the “rally signal” in the DNA was engaged a few centuries earlier than planned and originally dormant experimental genes were activated which made entities combat-ready. The DNA of the inhabitants, however, hadn’t fully developed, and thus the planet was filled with lunatics and suicidal maniacs instead of super soldiers as was originally planned, these mutants survived, and despite their human appearance they couldn’t technically be called humans. Survivors have changed mentally, and a decade later visible transformations were reported. The most notable changes involved the blackening of the eyeballs or a strange luminescence in them. Keen to cover up their new appearance, these individuals would hide their eyes and faces under clothing and sunglasses.
</p><p>
    Two decades have passed since “Crossout”, many do remember what was before. As always there are those willing to rebuild the old world and those that revel in the vision of a burning ruin. Yet there are also those devoid of any humanity at all, but one thing is for sure, this battle will rage on for a long time.
</p>

    <p>
        <a href="/Info/ImportantLocations">Important Locations</a>
        <br />
        <a href="/Info/SignificantPeople">Significant People</a>

    </p>